@import "~antd/dist/antd.dark.css";

.content-container {
  width: 100%;
  margin: 48px 0px 0px 0px;
  text-align: center;
}

.text-title {
  font-weight: 600;
  font-size: 28px;
}

.text-description {
  color: #777777;
  font-size: 16px;
}